<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- ===== -->
    <!-- Args  -->
    <!-- ===== -->
    <param name="/use_sim_time" value="true"/>

    <param name="camera_intrinsic_yaml" type="string" value="/home/aleks/pose_corrector_data/dataset/inboard_rgbd/camera_params.yaml"/>
    <param name="inboard_model_dir" type="string" value="/home/aleks/pose_corrector_data/dataset/inboard_3d"/>

    <!-- ===== -->
    <!-- Nodes -->
    <!-- ===== -->

    
    <!-- Launch the Python node -->
    <node name="pose_corrector" pkg="pose_corrector" type="pose_corrector" output="screen" />

    <!-- ====== -->
    <!-- Launch -->
    <!-- ====== -->
r
</launch>